.singleitem { 
display: flexbox;
}
.singleitem h2 { 
    /* display: flexbox; */
    position: absolute;
    right: 200px; 
    top: 20%;
    font-size: 3em;
    text-wrap: wrap;
    margin-left: 50px;
    float: right;
    /* margin-right: 100px; */
}
.default-image {
    width: 600px;
    margin-left: 100px;
}

@media screen and (max-width: 1400px) {
    .singleitem h2 {
      font-size: 2em; 
      text-wrap: wrap;
      text-align: right;
      margin-right: -185px;
      word-wrap: break-word; 
      white-space: wrap; 
      overflow-wrap: break-word;
    }

    .default-image { 
        width: 20em;
    }
  }