.singleitem { 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: white;
    column-gap: 1em;
    width: 100vw; 
    height: 700px;
}
.singleitem h2 { 
    /* display: flex; */

    
    /* margin-right: 100px; */
}
.default-image {
    width: 600px;
    margin-left: 100px;
}

.item-details { 
    display: flex;
    align-items: center;
}

.seller-info { 
    display: flex; 
}

.item-image-column { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-details-container {
    color: black;
}

.everything-else-column { 
    text-align: left;
    display: grid; 
    grid-template-rows: 1.5fr 1fr;
    /* justify-content: left; */
    /* float: left; */
}

@media screen and (max-width: 1400px) {


    .default-image { 
        width: 20em;
    }
  }