.header {
    display: flex;
}

.header h2 {
    margin: auto;
}

.photo_title {
    display: flex;
}

.photo {
    height: 5rem;
    width: 5rem;
}

.photo_title h3 {
    margin: auto;
}

.product_box {
    background-color:#CCCCCC;
}

#sell_item_page {
    background-color: #F2F0F0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#photo_box {
    background-color: #CCCCCC;
    display: flex;
    margin: auto;
}

#product_box {
    background-color: #D4D4D4;
}

.bottom_btn {
    background-color: #C1C1C1;
}

.photo {
    background-color: #F2F0F0;
}

#photo_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25rem;
}

#grid_item_1 {
    padding-left: 2rem;
}

#grid_item_2 {
    padding-right: 2rem;
}

#product_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25rem;
}

#buttons #button_grid {
    margin: auto;
}