/* SignUp.css */
#bottomSection2 {
    width: 100%;
    display: flex;
    height: 720px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

/* Container styling */
#formHolder2 {
    width: 33%;
    float: left;
    border-right: solid black;
    border-width: 3px;
    padding: 0% 10% 12.5%;
    height: 400px;
}

#alreadyHaveAnAccount {
    color: black;
}

.holder2 {
    width: 1100px;
    height: 500px;
}

#rightImage2 {
    width: 44%;
    float: right;  
    display: flex;
    align-items: center;  
    height: 535px;
}

#logo2 {
    width: 99%;
}
  
/* Heading styling */
  
#test2 {
    text-align: center;
    margin-bottom: 35px;
    color: black;
}

/* Input styling */
label {
    display: block;
    margin-bottom: 2px;
    color: black;
    font-weight: 400;
    font-size: larger;
}

.loginInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
}

.loginInputConfirm {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
}

/* Button styling */

#signUpButton {
    margin-top: 10px;
}

