.header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header h2 {
    margin: auto;
}

#photo_box {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-color: black;
    border-width: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#photo_box > * {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
}
/* The contents of the title of the photo itself*/
/* CSS responsible for styling the id of sell_item_page which is the div id that the entire page is underneath it */

.bottom_btn {
    background-color: #C1C1C1;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17rem;
    margin: auto;
}

button {
    width: 10rem;
}


