.header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header h2 {
    margin: auto;
}

#photo_box_test {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-color: black;
    border-width: 2rem;
    background-color: #E7E5E5;

    justify-items: center;

    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, 11rem);
    gap: 1rem;
    width: 100%;
    /* When I fill up my columns then I get a new row */
    /* Fixes issues */
    overflow: scroll;
    /* if elements are not present on the screen then scroll to access the rest of them */
    height: 20rem;
    width: 24rem;
    margin-left: 11rem;
    margin-top: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
}

#checkout_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

#photo_box_test > * {
    height: 150px;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    background-color: #FCFCFC;
    border-radius: 20px;
    /* Have the width being decreased to 35% of original is necessary to make the overloading possible */
}

#item-box {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FDFDFD;
    margin: auto;
    overflow: scroll;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
}

#yo {
    background-color: #EAEAEA;
    height: 21rem;
    width: 22rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-left: 3rem;
    border-radius: 20px;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
}

#cart_row_box {
    display: flex;
    flex-direction: row;
}

#price_box {
    display: flex;
}

#price_box > * {
    margin: 0 auto;
}

#price_box > h6 {
    color: white;
}

#item-box > * {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}
/* The contents of the title of the photo itself*/
/* CSS responsible for styling the id of sell_item_page which is the div id that the entire page is underneath it */

.bottom_btn {
    background-color: #C1C1C1;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 6rem;
}

#button_grid {
    display: flex;
    margin: auto;
}

button {
    width: 10rem;
    margin: 0 auto;
}


