.item-details-container { 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 3em;
    text-align: left;
    justify-content: left;
}

.item-details-container h2, h3, h4 { 
    color: black;
    /* text-align: left; */
}

#item-name { 
    /* right: 10px; */
    /* right: 10px; */
    top: 125px;
    position: absolute;
    /* text-align: left; */
    /* height: 10px; */
}

#item-price { 
    top: 170px;
    position: absolute;
    /* height: 100px; */
}

#item-description {
    top: 215px; 
    position: absolute;
    /* height: 100px; */
}

#additional-details { 
    top: 275px;
    position: absolute;
    /* height: 100px; */
}
 