.seller-info-bar { 
    
    display: flex;
    height: 200px;
    width: 650px; 
    /* align-items: right; */
    justify-content: flex-start;
    /* color: grey; */
    float: right;
    border: 5px;
    background-color: rgb(66, 185, 232);
    /* margin-left: 500px; */ 
    /* right: 100px;  */
    border-radius: 15px;
}

.profile-picture { 
    position: relative;
    border-radius: 50%; 
    width: 200px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.seller-info-heading { 
    position: absolute;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 45px;

}

.seller-name { 
    font-size: 50px;
    margin-left: 30px;
}
