.seller-info-bar { 
    display: flex;
    height: 200px;
    width: 750px; 
    justify-content: flex-start;
    float: right;
    border: 5px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px; 
    border-style: solid;
    border-color: black;
}

.profile-picture { 
    position: relative;
    border-radius: 50%; 
    width: 200px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 10px;
    border-style: solid; 
    border-width: 5px;
    border-color: black;
}

.seller-info-heading { 
    position: absolute;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 45px;
    color: black;

}

.seller-name { 
    font-size: 50px;
    margin-left: 30px;
    color: black;
}
