/* Listings Component */

.listings {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ListingContainer Component */

.listingContainer {
    width: 80%;
    height: 475px;
    border: 3px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 20px 0 50px;
    padding: 30px;
    display: flex;  
}

    /* ListItem Sub-Component */

    .listItem {
        width: 250px;
        height: 450px;
        border: 3px solid black;
        border-radius: 20px;
        margin: 10px 0;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-right: 12px;
    }

    .listImage {
        width: 250px;
        border-radius: 20px;
        height: 250px;
        object-fit: cover;
    }

    .itemTitle {
        width: 100%;
        text-align: center;
    }

    .cost {
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-top: 7px;
    }

    .cost h4 {
        margin: 0;
    }

    .modify {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
    }

/* ListingHeader Component */

.listingHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hello {
    width: 180px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listingButtons {
    margin-left: auto;
    margin-right: 20px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

/* NewItem Component */

.newItem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newItemContainer {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
}

.newItemForm {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.input {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.input input {
    height: 20px;
    margin-left: 10px;
}